---
import Layout from '../_layout.astro';
import NotFound from "@/components/NotFound";


---

<Layout title="Dashboard">
  <div id="hotels-content">
    <NotFound 
      title="Access Denied"
      description="This page is only available to super administrators."
      pageRedirect="/admin/dashboard"
      pageRedirectText="Go to Dashboard"
    />
  </div>
</Layout>

