---
import Layout from './_layout.astro';
import Dashboard  from './_components/Dasboard';
import HotelSpecificDashboard from './_components/HotelSpecificDashboard';

---

<Layout title="Dashboard">
  <div id="dashboard-content">
    <Dashboard client:load />
  </div>
</Layout>

